<div class="section-heading">
<%= link_to "/" do %>
  <svg xmlns="http://www.w3.org/2000/svg"
      width="1.33333in" height="1.36667in"
      viewBox="0 0 120 123">
    <path id="Imported Path"
          fill="none" stroke="white" stroke-width="5"
          d="M 97.99,0.00
            C 101.29,0.00 103.96,2.68 103.96,5.99
              103.96,9.29 101.29,11.97 97.99,11.97
              94.70,11.97 92.02,9.29 92.02,5.99
              92.03,2.68 94.70,0.00 97.99,0.00
              97.99,0.00 97.99,0.00 97.99,0.00 Z
            M 99.59,52.13
            C 104.74,59.84 111.26,62.20 119.72,56.99
              120.00,59.89 120.07,62.85 119.92,65.85
              118.25,99.05 90.08,124.60 56.98,122.93
              23.89,121.25 -1.59,92.99 0.08,59.81
              1.74,26.62 30.89,0.78 63.98,2.45
              61.04,11.66 63.53,19.84 70.99,22.62
              64.23,44.42 79.34,58.69 99.59,52.13
              99.59,52.13 99.59,52.13 99.59,52.13 Z
            M 29.97,47.84
            C 34.93,47.84 38.95,51.87 38.95,56.84
              38.95,61.80 34.92,65.83 29.97,65.83
              25.01,65.83 21.00,61.80 21.00,56.84
              21.00,51.87 25.02,47.84 29.97,47.84
              29.97,47.84 29.97,47.84 29.97,47.84 Z
            M 58.24,59.31
            C 61.09,59.31 63.41,61.63 63.41,64.49
              63.41,67.36 61.09,69.68 58.24,69.68
              55.38,69.68 53.07,67.36 53.07,64.49
              53.06,61.63 55.37,59.31 58.24,59.31
              58.24,59.31 58.24,59.31 58.24,59.31 Z
            M 35.80,80.67
            C 39.28,80.67 42.11,83.50 42.11,86.99
              42.11,90.49 39.28,93.32 35.80,93.32
              32.32,93.32 29.49,90.49 29.49,86.99
              29.49,83.49 32.32,80.67 35.80,80.67
              35.80,80.67 35.80,80.67 35.80,80.67 Z
            M 49.40,32.26
            C 52.13,32.26 54.34,34.48 54.34,37.22
              54.34,39.96 52.12,42.17 49.40,42.17
              46.66,42.17 44.45,39.95 44.45,37.22
              44.45,34.48 46.67,32.26 49.40,32.26
              49.40,32.26 49.40,32.26 49.40,32.26 Z
            M 76.24,82.88
            C 80.83,82.88 84.53,86.60 84.53,91.19
              84.53,95.78 80.82,99.50 76.24,99.50
              71.66,99.50 67.96,95.77 67.96,91.19
              67.96,86.60 71.67,82.88 76.24,82.88
              76.24,82.88 76.24,82.88 76.24,82.88 Z
            M 93.69,23.12
            C 96.76,23.12 99.26,25.62 99.26,28.71
              99.26,31.79 96.76,34.29 93.69,34.29
              90.62,34.29 88.12,31.79 88.12,28.71
              88.12,25.62 90.62,23.12 93.69,23.12
              93.69,23.12 93.69,23.12 93.69,23.12 Z" />
  </svg>
<% end %>
  <h1>
    <%= link_to "Cooki", root_path %>
  </h1>
  <p>A place for great recipes</p>
</div>