
<section id="main" class="cards">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <%= link_to recipe do %>   
        <img src="<%= recipe.image %>">
        <p><%= recipe.title %></p>
      <% end %>
    </div>
  <% end %>
</section>