<section class='banner'>
    <img src="<%= @recipe.image %>" alt="Banner Image">      
    <h1><%= @recipe.title %></h1>
</section>

<div class="container">
    <div class="box">
        <h2>INGREDIENTS</h2>
        <p class="ingredients"><%= @recipe.ingredients %></p>
    </div>
    <div class="box">
        <h2>METHOD</h2>
        <p><%= @recipe.method %></p>
    </div>
</div>

