// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  // display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

section {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
}