// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0;
}

footer {
  height: 4rem;
}

// Index
.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vh;
  background-color: var(--bg-primary);
}

.section-heading h1 {
  color: var(--text-primary);
  text-transform: uppercase;
}

.section-heading a {
  color: var(--text-primary);
  text-decoration: none;
}

.section-heading p {
  color: var(--text-secondary);
}

.section-heading img {
  color: #efedd6;
  font-size: small;
}
.section-heading svg {
  font-weight: bold;
  text-transform: uppercase;
  height: 4rem;
  width: 4rem;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 20vh;
  background-color: #fff;
  margin-top: 10px;
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 47%;
  border-radius: 3px;
}

.card img {
  width: 100%;
  height: 80%;
  border-radius: 3px 3px 0 0;
}

.card a:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.card p {
  margin: 0;
  padding-left: 5px;
  color: black;
}

.card p:hover {
  color: #5C636A;
}

// Form
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 20px;
}

.form-inputs input, p {
  // width: 100%;
  line-height: 2rem;
  border: 0;
  font-size: 1rem;
  padding: 5px 0px 5px 30px;
  font-family: 'Open Sans', sans-serif;
}

#category {
  padding: 5px 0px 5px 30px;
}

textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  // background-color: #2d2d2d;
  color: black;
  border-radius: 4px;
  font-family: inherit;
}

.form-actions {
  display: flex;
  justify-content: center;
  height: 15vh;
  align-items: center;
}

.styled-input {
  max-width: 100%;
}

.styled-input p {
  color:#5C636A;
  width: auto;
}

select {
  // -webkit-appearance: none;
  height: 7vh;
  width: 30vw;
  padding: 7px 7px 7px 7px;
  font-size: 16px;
  color:#5C636A;
  background-color: white;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 0 1px 3px -2px #9098A9;
  font-family: inherit;
  cursor: pointer;
}

option {
  color: #223254;
}
option:focus {
  outline: none;
  border-color: #0077FF;
}

.styled-input select {
  margin-right: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// recipe show styles
.banner {
  width: 100%;
  // height: 20vh;
}

.banner img {
  width: 100%;
  max-height: 30vh;
}

.banner h1 {
  margin: auto;
  padding: 10px 0 10px 0 ;
}

.container {
  margin: auto;
  max-width: 98vw;
}

.box {
  border: solid 2px #efedd6;
  margin-top: 5px;
  padding-left: 5px;
}

.box p {
  padding: 5px 0px 5px 0px;
}

.ingredients {
  color: #000;
}


// button
.btn {
  border: #000 solid 0.1em;
  background-color: #fff;
  color: #000;
  padding: 15px 30px 15px 30px;
  border-radius: 0.12em;
  cursor: pointer;
  height: auto;
  font-size: 1rem;
  text-transform: uppercase; 
  box-shadow: 0 1px 3px -2px #9098A9;
  transition: all 0.2s;
}

.btn:hover {
  color: white;
  background-color: black;
}

.btn-primary {
  border-color: #1C1F23;
}

.btn-primary:hover {
  background-color: #1C1F23;
  color: #fff;
}

// search bar
.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}

.searchBtn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.searchBtn:focus, .input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .searchBtn {
  transform: translateX(198px);
}

// New view

// Error notification
.error_notification, .error {
  display: flex;
  justify-content: center;
  color: red;
}


// testing
.red {
  border: solid red 1px;
}

/* large screens */
@media only screen and (min-width: 600px) {
 
  .section-heading {
    justify-content: center;

  }
  .banner {
    width: 100%;
    // height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner img {
    width: auto;
    max-height: 30vh;
  }
  .container {
    margin: auto;
    max-width: 50vw;

  }

  section {
    // margin-left: 7vw;
    // border: solid blue 1px;
    max-width: 50vw;
    margin: auto;
    padding-top: 2vh;
  }

  .section-heading a {
    margin-left: 10px;
  }

  .card {
    // border: solid red 1px;
    width: 30%;
  }
  
  .card img {
    // border: solid red 1px;
    width: 80%;
  }
  
}